body {
            margin: 0 auto;
            padding: 0px;
            font-size: 12px;
            text-align: center;
            height: 5000px;
        }
	.nav {
		height: 40px;
		background-color: #5B9732;
        font:800 30px/40px Arial;
        text-align: center;
        color:#fff;
        border:5px solid #1F5101;
	}
	.main {
		position:relative;
		background-color: #E8F1CF;
		width: 1500px;
		height: 715px;
		margin:10px auto;
	}
	.left-content,.right-content {
		width: 235px;
		height: 600px;
		float: left;
		display:inline-block;
        border:5px solid #1F5101;
		background-color: #fff;
	}

	.content {
		width: 1000px;
		height: 600px;
		float: left;
		display: inline-block;
		border:5px solid #44842B;
		background: url("images/bg2.png") no-repeat;
	}
	.content div{
		/*display: inline-block;*/
        display: none;
		position: relative;
		width: 800px;
		height: 400px;
		margin:100px 100px 100px 100px;
	}
	.content .bigShow .leaf{
		position:absolute;
		width: 80px;
		height: 80px;
		display: none;
	}
	.content .bigShow {
        display:inline-block;
    }
	.content .bigShow .show {
		position:absolute;
		width: 80px;
		height: 80px;
        display: block;
        cursor: pointer;
        }
    ul,li {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .right-content ul li {
        width: 225px;
        height: 140px;
        border: 5px solid #5B9732;
        text-align:center;
    }
    .right-content ul li .time,
    .right-content ul li .count-number,
    .left-content .rule {
        font:800 20px/150% Arial;
        color:#5B9732;
        margin:15px 0px 0px 5px;
    }
    .left-content .rule {
        text-align: left;
        height: 300px;
    }
    .right-content ul li button,
    .left-content .rule-name,
    .left-content .baseket .find {
        display: block;
        font:800 30px/150% Arial;
        margin:5px auto;
        padding: 0px;
        cursor: pointer;
        color:#5B9732;
        width: 215px;
        border:5px solid #599532;
        border-radius: 30%;
        background: #E8F1CF;
    }
    .right-content ul li .right-reset,
    .right-content ul li .right-finish {
        margin:44px auto;
    }
    .right-reset a{
        text-decoration:none;
        color:#599532;
    }
    .mouse-img{
	    position: absolute;
	    padding: 10px 0;
	    cursor: pointer;
        width: 20px;
         height: 20px;
    }
    .main .author {
        font:15px/25px microsoft yahel ;
        border-top:15px solid #A9C397;
        float: left;
        width: 1500px;
        color:#264F16;
    }
    .main .author a{
        color:#264F16;
    }
    .main .author a:hover {
        color:#79AB29;
    }